<!--author-->
<section class="authors">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1>MY POST</h1>
            </div>
        </div>
        <div class="row">
            <!--author-image-->
            <div class="col-lg-12 col-md-12 ">
                <div class="authors-info">
                    <div class="image">
                        <a href="author.html" class="image">
                            <img src="assets/img/author/1.jpg" alt="">
                        </a>
                    </div>
                    <div class="content">
                        <h4>Sarah Jessica</h4>
                        <p>
                            Etiam vitae dapibus rhoncus. Eget etiam aenean nisi montes felis pretium donec veni. Pede
                            vidi condimentum et aenean hendrerit.
                            Quis sem justo nisi varius.
                        </p>
                        <div class="social-media">
                            <ul class="list-inline">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-pinterest"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--/-->
            </div>
            <!--create-post-->
            <div class="col-lg-12 col-md-12">
                <h1 style="margin-top: 10px; font-weight: bold;">Share your stories</h1>
                <div class="create-post">
                    <mat-accordion>
                        <mat-expansion-panel [expanded]="panelOpenState === true" (opened)="setState(true)">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Create a new post
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <form [formGroup]="postForm" action="#" class="sign-form widget-form " method="post">
                                <div class="form-group">
                                    <label for="title" style="font-weight: bold;">Post's title <span
                                            style="color: red;">*</span></label>
                                    <input formControlName="title" type="text" maxlength="1000" class="form-control"
                                        name="title"
                                        [ngClass]="{'invalid': (form.title.touched || form.title.dirty || isSubmitted) && form.title.errors}">
                                    <div *ngIf="(form.title.touched || form.title.dirty || isSubmitted)">
                                        <mat-error class="custom__mat-error text-left"
                                            *ngIf="form.title.errors?.required">
                                            Title is required</mat-error>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="title" style="font-weight: bold;">Post's description <span
                                            style="color: red;">*</span></label>
                                    <input formControlName="description" type="text" maxlength="1000"
                                        class="form-control" name="description"
                                        [ngClass]="{'invalid': (form.description.touched || form.description.dirty || isSubmitted) && form.description.errors}">
                                    <div *ngIf="(form.description.touched || form.description.dirty || isSubmitted)">
                                        <mat-error class="custom__mat-error text-left"
                                            *ngIf="form.description.errors?.required">
                                            Description is required</mat-error>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="title" style="font-weight: bold;">Post's cover image <span
                                            style="color: red;">*</span></label>
                                    <input style="display: block;" type="file" name="image"
                                        (change)="selectFile($event)">
                                </div>
                                <div class="form-group">
                                    <label for="content" style="font-weight: bold;">Post's content <span
                                            style="color: red;">*</span></label>
                                    <angular-editor formControlName="content" [config]="editorConfig"
                                        [placeholder]="'Enter text here...'">
                                    </angular-editor>
                                    <div *ngIf="(form.content.touched || form.content.dirty || isSubmitted)">
                                        <mat-error class="custom__mat-error text-left"
                                            *ngIf="form.content.errors?.required">
                                            Content is required</mat-error>
                                    </div>
                                </div>
                                <div class="form-group mt-3 text-right" (click)="post()">
                                    <button type="submit" class="btn-custom">Post</button>
                                </div>
                            </form>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
                <!--/-->
            </div>
        </div>
    </div>
</section>

<!-- blog-author-->
<section class="blog-author mt-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1 style="font-weight: bold;">My post</h1>
            </div>
            <!--content-->
            <div class="col-lg-12 oredoo-content">
                <div class="theiaStickySidebar">
                    <!--post1-->
                    <div *ngFor="let p of postList" class="post-list post-list-style4 pt-0">
                        <div class="post-list-image">
                            <a href="post-single.html">
                                <img src="{{ p.image }}" alt="">
                            </a>
                        </div>
                        <div class="post-list-content">
                            <ul class="entry-meta">
                                <li class="entry-cat">
                                    <a href="blog-layout-1.html" class="category-style-1">Branding</a>
                                </li>
                                <li class="post-date"> <span class="line"></span> {{ p.createdDate | date:'dd-MM-yyyy'}}
                                </li>
                            </ul>
                            <h5 class="entry-title">
                                <a href="post-single.html">{{ p.description }}</a>
                            </h5>
                            <div class="post-btn">
                                <a href="post-single.html" class="btn-read-more">Continue Reading <i
                                        class="las la-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <!--pagination-->
                    <div class="pagination">
                        <div class="pagination-area text-left">
                            <div class="pagination-list">
                                <ul class="list-inline">
                                    <li><a href="#"><i class="las la-arrow-left"></i></a></li>
                                    <li><a href="#" class="active">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#"><i class="las la-arrow-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/-->
        </div>
    </div>
</section>